/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Aa]uto[Bb]uild/
/[Uu]ser[Ss]ettings/
/[Ll]ogs

.kiro/
.vscode/
.vs/
.vsconfig

*.csproj
*.sln
*.suo
*.tmp
*.userprefs
*.app
.idea/
*.VC.*
.DS_Store
*~
*.swp

*.log
*.pyc

*.sln.DotSettings.user

*mono_crash.mem*
UIElementsSchema

/_[Bb]uild/

